.custom-background{
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/michael_jordan_abstract_wallpaper_by_skythlee_da6tbn3.jpg);
background-size: cover;
height: 100vh;
}

section{
    margin-top: 100px !important;
    background-color: black;
}

body{
    margin-top: 100px;
}